.proj-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;    
    margin-bottom: 10px;
}

.proj-card {
    margin: 5%;
    /* border: 1px solid black; */
    border-radius: 12px;
    display: inline-block;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    height: 250px;
    text-align: center !important;
}

@media screen and (min-width: 1408px) {
    .proj-group:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1344px;
    }
}

.card-title {
    text-align: center;
    color: white;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index: 1 !important;
    transition: all ease-in-out 0.3s;
}

.proj-card:hover > *{
    opacity: 1;
}

.proj-card:hover > .card-title{
    background: red;
}

.card-title:hover {
    opacity: 100%;
}

.card-img {
    z-index: 10;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Centre les images du slider qui ne prennent pas toute la largeur */
.slide-portrait {
    display: flex;
}

.splide-img {
    /* height: 100%; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.splide__arrow svg  {
    fill: var(--themeColor) !important;
}

.splide__pagination__page.is-active {
    background-color: var(--themeColor) !important;
}