.pres {
    margin: 0 auto;
    bottom: 10%;
    position: relative;
    width: auto;
    font-family: 'Lobster', cursive;
    animation-name: scale-in;
    animation-duration: 1s;
}

@keyframes scale-in {
    0% { transform: scale(0.5, 0.5); }
    50% { transform: scale(1, 1); }
}

.pres-card {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: #DD6B1E; */
    color: white;
    text-align: center !important;
}

.pres-card-title::before {
    width: 0;
}

.pres-card-title {
    width: max-content;
    font-weight: 800;
    font-family: "eurostile", sans-serif;
    font-family: "Lobster", sans-serif;
}

.pres-card-title-Old {
    width: max-content;
    font-weight: 800;
    font-family: "eurostile", sans-serif;
    font-family: "Lobster", sans-serif;
    overflow: hidden; /* S'assure que le contenu ne s'affiche pas avant la fin de l'animation */
    border-right: .15em solid orange; /* Curseur d'écriture */
    white-space: nowrap; /* Maintient le contenu sur une seule ligne */
    animation: 
        typing 3.5s steps(40, end) alternate infinite 1s,
        blink-caret .75s step-end infinite;
    line-height: 1.125;
}

.pres-card-descr {
    font-weight: 400;
    font-family: "europa", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pres-card-title, .pres-card-descr {
    margin-bottom: 1.5rem;
}

.pres-card-avatar {
    margin: 2rem 0;
    width: 150px;
}

@media screen and (min-width: 769px) {
    .pres-card-avatar {
        width: 210px;
    }
}

@media screen and (max-width: 768px) {
    .pres-card-title {
        font-size: 2rem !important;
    }
}

/* L'effet d'écriture */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* L'effet du curseur clignotant */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
}