.pres {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
}

.pres-descr {
    margin: auto 5vh auto 0;
    text-align: left;
}

.pres-divLogo {
    margin: auto 5vh auto 5vh;
}

.pres-divLogo-avatar {
    height: 10rem;
}
