.parc-group {
    /* display: flex;
    flex-direction: row; */
}

.parc-group-div {
    border-left: 2px solid;
    padding: 0 0 20px 20px;
    position: relative;
}

.parc-group-div::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid;
}

.parc-group-div-date {
    font-size: 20px;
    background-color: darkgray;
    width: fit-content;
    border-radius: 5px;
    padding: 0.4rem;
}

.parc-group-div-title {
    color: #0a78c7;
}

.parc-group-div-descr {
    white-space: pre-line;  
    vertical-align: bottom;
}

.parc-group-div-descr {
    /* font-size: calc(24px*0.5vw); */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}